html, body {
    height:100%;
}

.wrapper{
    padding:2px;
    display:flex;
    flex-direction: column;
    height:100%;
}

.navheader{
    list-style-type: none;
    outline: 1px solid grey;
    height:52px;
    flex:0 0 52px;
    display:flex;
    flex-direction:row;
    position: relative;
    min-width:100%;
}

.navtextbox {
    width: 100%;
    border: 0px;
    outline: 1px solid grey;
    border-radius: 4px;
    height:36px;
    padding: 4px;
}
/* .navcontainer{
    min-height:52px;
} */

.centeredheader {
    width: 100%;
    text-align: center;
}

.naventry {
    float: left;
}

.livearticle {
    flex:1 0 auto;
    text-align:center;
}

.naventry a {
    display: inline-block;
    padding: 14px 16px;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.navtext {
    display: inline-block;
    padding: 14px 16px;
    color: black;
}

.naventry a:hover {
    background-color: #ddd;
    outline: 1px solid grey;
}

.bodywrapper{
    display:flex;
    flex-direction:row;
    flex:1 0 auto;
}

.bodysection {
    display:flex;
    flex: 1;
    outline: 0.5px solid grey;
}

#sidebar {
    width:0px;
    min-height:100%;
    background: #fff;
    outline: 1px solid grey;
    transition: 0.2s;
    flex: 1 0 auto;
    position: relative;
    overflow-y: auto;
}

#sidebarwrapper {
    width: 100%;
    position: absolute;
}

.sidebaropen{
    width:250px !important;
}

@media (max-width: 520px) {
    .sidebaropen {
        width: 100% !important;
    }
}

.contentwrapper {
    background: #fff;
    outline: 1px solid grey;
    transition: 0.2s;
    width:100%;
    position:relative;
    flex: 0 1 auto;
    overflow-y:scroll;
}

del {
    background-color:#f88;
  }
ins {
  background-color:#4f4;
}

.sidebarentry{
    padding:10px;
}

.checkboxwrapper{
    border-radius:4px;
    width:100%;
    background-color: #eee;
    margin:4px 0px;
    border:1px solid grey;
    padding: 8px 4px;
}

.checked{
    background-color: #ccc;
}

hr {
    margin-bottom: 10px;
}

.checkboxlabel{
    width:100%;
    user-select: none;
}

.form-check-input{
    margin-right:4px;
}

.indicator{
    border-radius: 6px;
    outline: 1px solid black;
    display: inline;
    padding: 0px 4px;
}

h1{
    line-height:1.35;
}

h4 {
    color:#444;
}

#content {
    max-width:800px;
    left:0;
    right:0;
    margin-right:auto;
    margin-left:auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    position:absolute;
    padding:10px 20px;
}

.articleentry {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100px;
    outline: 1px solid grey;
    cursor:pointer;
}

.articleentry:hover {
    background-color: #ddd;
}


.articleinfo {
    padding: 8px 16px;
    max-width: 100%;
    min-width: 0;
    flex: 1 0 0;
}

.headline {
    overflow:hidden; 
    text-overflow: ellipsis;
    display:block;
    min-width: 0;
    display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
}

.similarity {
    flex: 0 0 300px;
    min-width: 300spx;
    padding: 8px 16px;
    background-color: #cff;
}

.articleentry:hover .similarity{
    background-color: #9dd;
}

.articleheadline {
    flex: 1 0 auto;

}

@media (max-width: 700px) {
    .articleentry {
        height: 200px !important;
        display: block;
    }
    .articleinfo{
        height: 100px !important;
    }
    .similarity {
        outline: 1px solid grey;
        height: 100px;
    }
}